@charset "utf-8";
/**
* 功能：公共样式文件
**/
/*********************************************/
/* 样式初始化部分 */
/*********************************************/
html,body {
    height: 100%;
    margin: 0; padding:0px;
    font: 18px "微软雅黑";
}
/* 转换为IE盒子模型 */
body,header,footer,main,nav,section,article,aside,div,p,span,input,select,textarea,button,a,ul,ol,li,h1,h2,h3,h4,h5,h6,i{
    box-sizing: border-box;
	display: block;
}
ul,ol,h1,h2,h3,h4,h5,h6,p,input,select,textarea,button {
    margin: 0;
}
content{
	width: 100%;
	display: block;
	overflow: hidden;
}
content h1{
	margin-top: 100px;
	width: 100%;
	font: normal 32px/140% "微软雅黑";
	width: 100%;
	text-align: center;
	color: #333;
}
content p{
	display: block;
	width: 100%;
	text-align: center;
	font: normal 18px/140% "微软雅黑";
	margin-top: 10px;
	color: #888;
}
content a{
	display: inline-block;
	color: #4375ad;
	text-decoration: underline;
}
.logn{
	width: 100%;
	height: auto;
	margin-bottom: 180px;
}
.margin{
	width: 402px;
	margin: 0 auto;
}
.la{
	width: 200px;
	display:inline-block;
	margin-top: 50px;
	background: #fff;
	line-height: 200%;
}
.latext{
	width: 200px;
	display: inline-block;
	line-height: 200%;
	text-align: right;
	color: #ff0000;
	opacity: 0;
}
.pstext{
	width: 190px;
	display: inline-block;
	line-height: 200%;
	text-align: right;
	color: #ff0000;
	opacity: 0;
}
.margin input{
	display: block;
	width: 400px;
	height: 50px;
	font-size: 16px;
	color: #555;
	box-sizing: border-box;
	border: 1px solid #cccbca;
	transition: box-shadow .3s;
	padding-left: 10px;
}
.margin a{
	display: block;
	text-decoration: underline;
	color: #333;
	font-size: 18px;
	text-align: right;
	margin-top: 15px;
}
.margin button{
	width: 400px;
	height: 64px;
	background: #838281;
	border: none;
	text-align: center;
	font: normal 32px/64px "微软雅黑";
    color: #fff;
	margin-top: 40px;
	border: none;
	cursor: not-allowed;
}

