content{
	box-sizing: border-box;
	display: block;
	width: 1190px;
	margin-left: auto;
	margin-right: auto;
	height: auto;
}
.goodsbuy {
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
}
.goodsshowimg{
	width: 595px;
	height: auto;
	display: block;
	float: left;
}
.mainimg{
	width: 595px;
	height: 437px;
	border-radius: 5px;
	position: relative;
	overflow: hidden;
}
.mainimg img{
	width: 595px;
	height: 437px;
}
.thumbnail{
	display: block;
	margin-top: 20px;
}
.thumbnail ul{
	box-sizing: border-box;
	width: 595px;
	height: 112px;
	overflow: hidden;
	list-style: none;
	display: block;
	padding: 0;
}
.thumbnail ul li{
	height: 106px;
	width: 106px;
	margin-left: 8.7px;
	display: inline-block;
	overflow: hidden;
	border: 2px solid #fff;
	overflow: hidden;
}
.thumbnail ul li img{
	width: 100%;
	min-height: 100%;
}
.goodsbu {
	margin-left: 675px;
	box-sizing: border-box;
	width: auto;
	height: auto;
}
.goodsname {
	width: auto;
	height: auto;
	display: block;
}
.goodsname h1{
	font-size: 40px;
	font-weight: bold;
}
.goodsname p{
	margin-top: 16px;
}
.goodsname p span{
	display: inline-block;
	padding: 0 20px;
	font-size: 18px;
	border-left: 1px solid #333;
}
.goodsname p .names{
	padding-left: 0px;
	border-left: none;
}
.goodsprice{
	margin-top: 60px;
	display: block;
}
.goodsprice span{
	display:inline-block;
	font-size: 62px;
	margin-right: 10px;
}
.goodsprice .new{
	color: #ff0000;
}
.goodsprice .old{
	text-decoration:line-through;
}
.goodsDynamic{
	display: block;
	margin-top: 19px;
	font-size: 18px;
	line-height: 180%;
}
.goodsDynamic label,.goodsDynamic span,.goodsDynamic a{
	display: inline-block;
}
.goodsold span{
	font-size: 28px;
	font-weight: bold;
}
.score a{
	margin-left: 42px;
	color: #333;
	text-decoration: underline;
}
.goodsDynamic{
	margin-top: 19px;
	display: block;
}
.countSet{
	display: inline-block;
	width: 90px;
	height: 48px;
	border: 1px solid #aaa;
	border-radius: 5px;
	box-sizing: border-box;
	padding: 0px;
	overflow: hidden;
}
.countSet input{
	width: 60px;
	height: 46px;
	line-height: 46px;
	font-size: 18px;
	border: none;
	padding: 0;
	text-align: center;
	float: left;
	display: block;
}
.countSetArea{
	padding: 0;
	margin-left: 60px;
	width: 30px;
	height: 46px;
	box-sizing:border-box;
	padding: 0px;
}
.countSet .plus,.countSet .minsu{
	display: block;
	box-sizing: border-box;
	width: 100%;
	height: 24px;
	color: #333;
	font-size: 24px;
	background-color: #e3e3e3;
    border-left: 1px solid #9a9b9c;
	text-align: center;
    line-height: 24px;
}
.countSetArea .minsu{
	cursor: not-allowed;
	background: #c5c3c4
}
.goodsDynamic button{
	cursor: pointer;
	display: inline-block;
	width: 196px;
	height: 48px;
	line-height: 46px;
	border-radius: 5px;
	font-size: 24px;
	margin-left: 10px;
	vertical-align: middle;
	margin-top: -36px;
	background: #ff0000;
	color: #fff;
	border: none;
}
.goodsDynamic .btn{
	background: #fff;
	color: #333;
	border: 1px solid #333;
}
.onlineServer{
	margin-top: 40px;
}
.onlineServer .cuse{
	cursor: pointer;
	height: 48px;
	width: 157px;
	background-image: url(../img/Customer.png);
	background-position: 0px 0px;
}
.onlineServer .cuse:hover{
	background-position: 0px -48px;
}
.hulisever p{
	width: 96%;
	height: auto;
	line-height: 26px;
	padding: 10px 10px;
	background: #666;
	border-radius: 5px;
	font-size: 18px;
	margin-top: 12px;
	color: #fff;

}
.goodsstyle,.goodsDetails,.goodsDeliverï¼Œ.goodsRecom{
	overflow: hidden;
	margin-top: 20px;
}
.goodsstyle h1,.goodsDetails h1,.goodsDeliver h1,.goodsRecom h1{
	width: 100%;
	height: 56px;
	line-height: 56px;
	border-bottom: 1px solid #ccc;
	font-size: 24px;
	margin-bottom: 24px;
	font-weight: normal;
}
.goodsstyle div{
	width: 33.33333%;
	line-height: 30px;
	font-size: 18px;
	float: left;
}
.detailsContent{
	width: 100%;
	height: 300px;
	background: #efefef;
}
.choose{
	display: block;
	width: 1190px;
	height: auto;
	overflow: hidden;
	margin: 0 auto;
}
.choose a{
	width: 366px;
	height: auto;
	margin-right: 30px;
	margin-bottom: 26px;
	overflow: hidden;
	box-sizing: border-box;
	float: left;
	text-decoration: none;
	border: 1px solid #ffffff;
}
.choose a:hover{
	border: 1px solid #00ff3b;
}
.goodsImg{
	box-sizing: border-box;
	height: 364px;
	width: 364px;
	border: 1px solid #acacac;
	overflow: hidden;
}
.goodsImg img{
   height: 366px;
	width: 366px;
}
.imgtext {
	height: 64px;
	line-height: 64px;
	white-space: normal;
}
.goodsname{
	margin-left: 30px;
	display: inline-block;
	text-align: center;
	font-size: 18px;
}
.oldprice {
	display: inline-block;
	font-weight: bold;
	margin-left: 30px;
	font-size: 22px;
	text-decoration: line-through;
}
.newprice {
	display: inline-block;
	font-weight: bold;
	margin-left: 30px;
	font-size: 22px;
	color: #ff0000;
}
