@charset "utf-8";
/**
* 功能：公共样式文件
**/
/*********************************************/
/* 样式初始化部分 */
/*********************************************/
html,body {
    height: 100%;
    margin: 0; padding:0px;
    font: 18px "微软雅黑";
}
/* 转换为IE盒子模型 */
body,header,footer,main,nav,section,article,aside,div,p,span,input,select,textarea,button,a,ul,ol,li,h1,h2,h3,h4,h5,h6,i{
    box-sizing: border-box;
	display: block;
}
ul,ol,h1,h2,h3,h4,h5,h6,p,input,select,textarea,button {
    margin: 0;
}
content{
	display: block;
	overflow: hidden;
	height: auto;
	width: auto;
}
.banner{
	width: 1190px;
	height: 245px;
	position: relative;
	background-image: url(../img/classifyBanner_1190dpi.jpg);
	margin-top: 38px;
	margin: 0 auto;
}
.banner h1{
	position: absolute;
	width: 100%;
	top: 50%;
	margin-top: -30px;
	font-weight: bold;
	font-size: 40px;
	text-align: center;
	color: #fff;
}
.banner ul{
	height: 40px;
	width: 100%;
	position: absolute;
	bottom: 12px;
	list-style: none;
	padding: 0.6%;
}
.banner ul li{
	display: inline-block;
	width: 108px;
	height: 40px;
	background: #838280;
	border-radius: 3px;
	line-height: 40px;
	font-size: 20px;
	color: #fff;
	transition: background-color 0.3s;
	text-align: center;
	margin-left: 72px;
}
